<% unless current_user.has_role?("invitee") %>
  <% unless @events.empty? %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>start</th>
          <th>end</th>
          <th>Created at</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= "#{ event.start.getlocal("+07:00").strftime("%d-%B-%Y %H:%M") } WIB" %></td>
            <td><%= "#{ event.end.getlocal("+07:00").strftime("%d-%B-%Y %H:%M") } WIB" %></td>
            <td><%= event.created_at.strftime("%d-%B-%Y") %></td>
            <td><%= link_to 'Invitees', event_invitees_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    no events found
  <% end %>
<% end %>
