<h1>Events#new</h1>

<%= form_for(@event, html: { multipart: true }) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :global_password %><br/>
    <%= f.text_field :global_password %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :ceremonial_location_name %><br />
    <%= f.text_field :ceremonial_location_name %>
  </div>

  <div class="field">
    <%= f.label :ceremonial_location_address %><br />
    <%= f.text_area :ceremonial_location_address %>
  </div>

  <div class="field">
    <%= f.label :ceremonial_start %><br/>
    <%= f.text_field :ceremonial_start %>
  </div>

  <div class="field">
    <%= f.label :ceremonial_end %><br/>
    <%= f.text_field :ceremonial_end %>
  </div>

  <div class="field">
    <%= f.label :reception_location_name %><br />
    <%= f.text_area :reception_location_name %>
  </div>

  <div class="field">
    <%= f.label :reception_location_address %><br />
    <%= f.text_area :reception_location_address %>
  </div>

  <div class="field">
    <%= f.label :reception_start %><br/>
    <%= f.text_field :reception_start %>
  </div>

  <div class="field">
    <%= f.label :reception_end %><br/>
    <%= f.text_field :reception_end %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    var d = new Date()
    $('#event_ceremonial_start, #event_ceremonial_end, #event_reception_start, #event_reception_end').fdatepicker({
      format: 'dd-mm-yyyy hh:ii',
      disableDblClickSelection: true,
      pickTime: true })
  })
</script>
