<h1>Events#new</h1>

<%= form_for(@event) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_area :location %>
  </div>

  <div class="field">
    <%= f.label :start %><br/>
    <%= f.text_field :start %>
  </div>

  <div class="field">
    <%= f.label :end %><br/>
    <%= f.text_field :end %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    var d = new Date()
    $('#event_start, #event_end').fdatepicker({
      format: 'dd-mm-yyyy hh:ii',
      disableDblClickSelection: true,
      pickTime: true })
  })
</script>
