<% unless @invitees.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Relation</th>
        <th>Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Response</th>
        <th>Arrival</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @invitees.each do |invitee| %>
        <tr>
          <td><%= invitee.name %></td>
          <td><%= invitee.relation %></td>
          <td><%= invitee.number %></td>
          <td><%= invitee.email %></td>
          <td><%= invitee.address %></td>
          <td><%= invitee.phone %></td>
          <td><%= invitee.reception_response %></td>
          <td><%= invitee.arrival %></td>
          <td><%= invitee.created_at.strftime("%d - %B - %Y") %></td>
          <td><%= invitee.updated_at %></td>
          <td><%= link_to 'Show', invitee %></td>
          <td><%= link_to 'Edit', edit_invitee_path(invitee) %></td>
          <td><%= link_to 'Destroy', invitee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Send', event_invitees_send_invitation_path(email: invitee.email) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No invitee(s) found
<% end %>
