<% unless @invitees.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Relation</th>
        <th>Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Ceremonial Response</th>
        <th>Reception Response</th>
        <% if current_user.has_role?("admin") %>
          <th colspan="4"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @invitees.each do |invitee| %>
        <tr>
          <td><%= invitee.name %></td>
          <td><%= invitee.relation %></td>
          <td><%= invitee.number %></td>
          <td><%= invitee.email %></td>
          <td><%= invitee.address %></td>
          <td><%= invitee.phone %></td>
          <td><%= invitee.ceremonial_response %></td>
          <td><%= invitee.reception_response %></td>
          <% if current_user.has_role?("admin") %>
            <td><%= link_to 'Show', invitee %></td>
            <td><%= link_to 'Edit', edit_invitee_path(invitee) %></td>
            <td><%= link_to 'Destroy', invitee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Send', invitees_resend_invitation_invitee_path(invitee) %></td>
          <% elsif current_user.has_role?("receptionist") %>
            <td><%= link_to 'Update Arrival', '#', class: 'update-arrival', "data-invitee-id": invitee.id %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No invitee(s) found
<% end %>
