<p id="notice"><%= notice %></p>

<h1>Listing Invitees</h1>
<% unless current_user.has_role?("invitee") %>
  <% if current_user.has_role?("admin") %>
    <%= link_to 'Edit Event', edit_event_path(@event) %><br/>
    <%= link_to 'New Invitee', new_event_invitee_path %><br/>
    <%= link_to 'Import', event_invitees_import_path %><br/>
    <%= link_to 'Export', event_invitees_export_path(:format => :csv) %><br/>
  <% end %>
  <%= text_field_tag 'search_name' %>

  <div id='invitees-list'>
    <%= render partial: 'table' %>
  </div><!-- #invitees-list -->
<% end %>

<script>
  $(document).ready(function(){
    $('#search_name').on('input', function(e){
      var name = $(this).val();
      // $('#invitees-list').load('<%#= event_invitees_path(@event) %>', function(){})
      $.ajax({
        url: '<%= event_invitees_path(@event) %>',
        method: 'GET',
        dataType: 'json',
        data: { name: name },
        success: function(result){
          $('#invitees-list').html(result.html)
        }
      });
    })
  });
</script>
