<% unless current_user.has_role?("invitee") %>
  <div class="row" style="margin-bottom: 20px; margin-top: 30px;">
    <div class="large-12 columns">
      <div style="border-bottom: 1px solid #ddd;">
        <h2 style="display: inline;"><%= @event.name %></h2>
        <% if current_user.has_role?("admin") %>
          <%= link_to 'Edit Event', edit_event_path(@event), style: "display: inline;" %>
          <p style="float: right; display: inline; margin-top: 20px;">Total Guest: <strong><%= @event.total_invitees %> People</strong></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless current_user.has_role?("invitee") %>
  <div class="row">
    <div class="large-6 columns">
      <%= link_to 'New Invitee', new_event_invitee_path, class: "button", style: "line-height: inherit; text-transform: uppercase; font-weight: bold;" %>
    </div>
    <div class="large-6 columns" style="text-align: right;">
      <%= link_to 'Import', event_invitees_import_path, class: "button", style: "line-height: inherit; text-transform: uppercase; font-weight: bold;" %>
      <%= link_to 'Export', event_invitees_export_path(:format => :csv), class: "button", style: "line-height: inherit; text-transform: uppercase; font-weight: bold;" %>
    </div>
  </div>

  <%= text_field_tag 'search_name', nil, placeholder: "Search by Name" %>
<% end %>

<p id="notice"><%= notice %></p>

<div id='invitees-list'>
  <%= render partial: 'table' %>
</div><!-- #invitees-list -->

<script>
  $(document).ready(function(){
    $('#search_name').on('input', function(e){
      var name = $(this).val();
      $.ajax({
        url: '<%= event_invitees_path(@event) %>',
        method: 'GET',
        dataType: 'json',
        data: { name: name },
        success: function(result){
          $('#invitees-list').html(result.html)
        }
      });
    })

    $('#invitees-list').on('click', '.update-arrival', function(){
      var $td = $(this).parents('td'),
        invitee_id = $td.find('.update-arrival').data('invitee-id');
      $(this).parents('td').remove('.update_form');
      $(this).hide();
      var update_form_html = "";
      $.ajax({
        url: '/invitees/'+invitee_id+'/update_arrival',
        method: 'GET',
        dataType: 'json',
        data: { partial: true },
        success: function(result){
          $td.prepend(result.html);
        }
      })
    });

    $('#invitees-list').on('click', 'button.confirm_arrival', function(){
      var $td = $(this).parents('td'),
        invitee_id = $td.find('.update-arrival').data('invitee-id'),
        number_arrival = $td.find('.update_form #number_arrival').val();

      $.ajax({
        url: '/invitees/'+invitee_id+'/update_arrival',
        method: 'POST',
        beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
        data: { invitee: { number_arrival: number_arrival } },
        dataType: 'json',
        success: function(result){
          $td.find('.update_arrival').show();
          $td.find('.update_form').remove();
        }
      });
    })
  });
</script>
