<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invitee.name %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @invitee.relation %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invitee.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @invitee.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @invitee.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @invitee.phone %>
</p>

<p>
  <strong>Ceremonial Response:</strong>
  <%= @invitee.ceremonial_response %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @invitee.arrival %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @invitee.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @invitee.updated_at %>
</p>
