<h4>Update Arrival</h4>
<p id="notice"><%= notice %></p>

<h3><%= @invitee.name %></h3>

<p>
  <strong>Relation:</strong>
  <%= @invitee.relation %>
</p>

<p>
  <strong>Guest(s):</strong>
  <%= @invitee.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @invitee.email %>
</p>

<p>
  <strong>Number response:</strong>
  <%= @invitee.number_response ? @invitee.number_response : 0 %>
</p>

<p>
  <strong>Ceremonial:</strong>
  <% unless invitee.ceremonial_response.nil? %>
    <% if invitee.ceremonial_response === true %>
      <i class="fa fa-check" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  <% else %>
    <i class="fa fa-question" aria-hidden="true"></i>
  <% end %>
</p>

<p>
  <strong>Reception:</strong>
  <% unless invitee.ceremonial_response.nil? %>
    <% if invitee.ceremonial_response === true %>
      <i class="fa fa-check" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  <% else %>
    <i class="fa fa-question" aria-hidden="true"></i>
  <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @invitee.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @invitee.phone %>
</p>

<p>
  <strong>Ceremonial Response:</strong>
  <%= @invitee.ceremonial_response %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @invitee.arrival %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @invitee.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @invitee.updated_at %>
</p>
