<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag '/stylesheets/foundation.min.css', '/stylesheets/foundation-datepicker.min.css' %>
    <%= stylesheet_link_tag '/stylesheets/style.css' %>
    <%= javascript_include_tag '/javascripts/jquery.js', '/javascripts/foundation.min.js', '/javascripts/foundation-datepicker.min.js' %>
    <%= javascript_include_tag '/javascripts/modernizr.custom.86080.js' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <%= csrf_meta_tags %>
    <script>
      $(document).ready(function(){
        $(document).foundation();
      });
    </script>
  </head>

  <body>
    <% unless current_user.has_role?("invitee") %>
      <%= link_to "Home", root_path %>
      <%= link_to "Events", events_path %>
      <%= current_user.email %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %><br/>
    <% end %>
    <%#= link_to "Invitees", invitees_path %>
    <%#= link_to "Invitation", invitation_path %>
    <%= yield %>
  </body>
</html>
